<div class="container">
  <h1>Weather App</h1>

  <div class="search">
    <label for="city">City:</label>
    <input type="text" [(ngModel)]="city" id="city" placeholder="Enter city name" />
    <button (click)="searchWeather()">Search</button>
  </div>



<div class="card" *ngIf="currentWeather || hourlyForecast || weeklyForecast" style="background-color: rgb(255, 244, 229); ">
  <div *ngIf="weeklyForecast" class="card weekly-forecast" style="background-color: rgb(255, 244, 229);">
      <p><span class="font-semibold mt-1 text-gray-500" >
          Nom: <b>{{ city}} </b> </span></p>
  </div>
</div>

  <div *ngIf="currentWeather" class="card current-weather">
    <h2>Current Weather</h2>
    <p><span class="text-6xl font-bold">
      <img [src]="getTemperatureIcon(currentWeather.weather[0].description)" class="weather-icon" />
    </span>
      Temperature: {{ currentWeather.main.temp }}°C ({{ currentWeather.main.temp_min }}°C - {{ currentWeather.main.temp_max }}°C)
    </p>
    <p>Condition: {{ currentWeather.weather[0].description }}</p>
  </div>

  <div *ngIf="hourlyForecast" class="card hourly-forecast">
    <h2 class="text-center">Hourly Forecast</h2>
    <div *ngFor="let hour of hourlyForecast" class="card">
      <p><span class="text-6xl font-bold">
        <img [src]="getTemperatureIcon(hour.weather[0].description)" class="weather-icon" />
        Time: {{ hour.dt_txt }}</span>
      </p>
      <p>Temperature: {{ hour.main.temp }}°C ({{ hour.main.temp_min }}°C - {{ hour.main.temp_max }}°C)</p>
    </div>
  </div>

  <div *ngIf="weeklyForecast" class="card weekly-forecast">
    <h2>Weekly Forecast</h2>
    <div *ngFor="let day of weeklyForecast" class="card">
      <p>
        <img [src]="getTemperatureIcon(day.weather[0].description)" class="weather-icon" />
        Date: {{ day.dt_txt }} | Condition: {{ day.weather[0].description }}
      </p>
      <p>Temperature: {{ day.main.temp }}°C ({{ day.main.temp_min }}°C - {{ day.main.temp_max }}°C) </p>
    </div>
  </div>
</div>
